In [14]:
## string
s1 = "namaste india"
result = reverse_string('namaste india')
print(result)

aidni etsaman

In [15]:
def reverse_string(input_str):
    return input_str[::-1]


input_str = "Hello, World!"
result = reverse_string(input_str)
print(result)

!dlroW ,olleH

In [17]:
def is_palindrome(input_str):
    return input_str == input_str[::-1]

# Example usage:
input_str = "mom"
result = is_palindrome(input_str)
print(result)

True

In [18]:
def to_uppercase(input_str):
    return input_str.upper()

# Example usage:
input_str = "hello world"
result = to_uppercase(input_str)
print(result)

HELLO WORLD

In [19]:
def count_vowels(input_str):
    vowels = "aeiouAEIOU"
    return sum(1 for char in input_str if char in vowels)

# Example usage:
input_str = "Hello World"
result = count_vowels(input_str)
print(result)

3

In [20]:
def count_consonants(input_str):
    consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
    return sum(1 for char in input_str if char in consonants)

# Example usage:
input_str = "Hello World"
result = count_consonants(input_str)
print(result)

7

In [21]:
def remove_whitespaces(input_str):
    return "".join(input_str.split())

# Example usage:
input_str = "  Hello   World  "
result = remove_whitespaces(input_str)
print(result)

HelloWorld

In [22]:
def find_length(input_str):
    count = 0
    for char in input_str:
        count += 1
    return count

# Example usage:
input_str = "Hello World"
result = find_length(input_str)
print(result)

11

In [23]:
def contains_word(input_str, target_word):
    return target_word in input_str

# Example usage:
input_str = "Hello World"
target_word = "World"
result = contains_word(input_str, target_word)
print(result)

True

In [24]:
def replace_word(input_str, old_word, new_word):
    return input_str.replace(old_word, new_word)

# Example usage:
input_str = "Hello World"
old_word = "World"
new_word = "Universe"
result = replace_word(input_str, old_word, new_word)
print(result)

Hello Universe

In [26]:
def count_word_occurrences(input_str, target_word):
    words = input_str.split()
    return words.count(target_word)

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
target_word = "World"
result = count_word_occurrences(input_str, target_word)
print(result)

1

In [27]:
def find_first_occurrence(input_str, target_word):
    words = input_str.split()
    try:
        return words.index(target_word)
    except ValueError:
        return -1

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
target_word = "World"
result = find_first_occurrence(input_str, target_word)
print(result)

2

In [28]:
def find_last_occurrence(input_str, target_word):
    words = input_str.split()
    try:
        return len(words) - 1 - words[::-1].index(target_word)
    except ValueError:
        return -1

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
target_word = "World"
result = find_last_occurrence(input_str, target_word)
print(result)

2

In [29]:
def split_into_words(input_str):
    return input_str.split()

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
result = split_into_words(input_str)
print(result)

['Hello', 'World,', 'World', 'is', 'beautiful.', 'Hello', 'Universe.']

In [30]:
def join_words(words_list):
    return " ".join(words_list)

# Example usage:
words_list = ["Hello", "World,", "World", "is", "beautiful.", "Hello", "Universe."]
result = join_words(words_list)
print(result)

Hello World, World is beautiful. Hello Universe.

In [31]:
def space_to_underscore(input_str):
    return input_str.replace(" ", "_")

# Example usage:
input_str = "Hello World, this is a test."
result = space_to_underscore(input_str)
print(result)

Hello_World,_this_is_a_test.

In [32]:
def starts_with_word(input_str, start_word):
    return input_str.startswith(start_word)

# Example usage:
input_str = "Hello World, this is a test."
start_word = "Hello"
result = starts_with_word(input_str, start_word)
print(result)

True

In [33]:
def ends_with_word(input_str, end_word):
    return input_str.endswith(end_word)

# Example usage:
input_str = "Hello World, this is a test."
end_word = "test."
result = ends_with_word(input_str, end_word)
print(result)

True

In [34]:
def to_title_case(input_str):
    return input_str.title()

# Example usage:
input_str = "hello world"
result = to_title_case(input_str)
print(result)

Hello World

In [36]:
def longest_word(input_str):
    words = input_str.split()
    return max(words, key=len)

# Example usage:
input_str = "Hello World, this is a test."
result = longest_word(input_str)
print(result)

World,

In [37]:
def shortest_word(input_str):
    words = input_str.split()
    return min(words, key=len)

# Example usage:
input_str = "Hello World, this is a test."
result = shortest_word(input_str)
print(result)

a

In [38]:
def reverse_words_order(input_str):
    words = input_str.split()
    return " ".join(reversed(words))

# Example usage:
input_str = "Hello World, this is a test."
result = reverse_words_order(input_str)
print(result)

test. a is this World, Hello

In [39]:
def is_alphanumeric(input_str):
    return input_str.isalnum()

# Example usage:
input_str = "Hello123"
result = is_alphanumeric(input_str)
print(result)

True

In [40]:
def extract_digits(input_str):
    return "".join(char for char in input_str if char.isdigit())

# Example usage:
input_str = "Hello123"
result = extract_digits(input_str)
print(result)

123

In [41]:
def extract_alphabets(input_str):
    return "".join(char for char in input_str if char.isalpha())

# Example usage:
input_str = "Hello123"
result = extract_alphabets(input_str)
print(result)

Hello

In [42]:
def count_uppercase(input_str):
    return sum(1 for char in input_str if char.isupper())

# Example usage:
input_str = "Hello World"
result = count_uppercase(input_str)
print(result)

2

In [43]:
def count_lowercase(input_str):
    return sum(1 for char in input_str if char.islower())

# Example usage:
input_str = "Hello World"
result = count_lowercase(input_str)
print(result)

8

In [44]:
def swap_case(input_str):
    return input_str.swapcase()

# Example usage:
input_str = "Hello World"
result = swap_case(input_str)
print(result)

hELLO wORLD

In [45]:
def remove_specific_word(input_str, target_word):
    words = input_str.split()
    words = [word for word in words if word != target_word]
    return " ".join(words)

# Example usage:
input_str = "Hello World, this is a test."
target_word = "is"
result = remove_specific_word(input_str, target_word)
print(result)

Hello World, this a test.

In [46]:
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$'
    return re.match(pattern, email) is not None

# Example usage:
email_address = "user@example.com"
result = is_valid_email(email_address)
print(result)

True

In [47]:
def extract_username_from_email(email):
    return email.split('@')[0]

# Example usage:
email_address = "user@example.com"
result = extract_username_from_email(email_address)
print(result)

user

In [48]:
def extract_domain_from_email(email):
    return email.split('@')[1]

# Example usage:
email_address = "user@example.com"
result = extract_domain_from_email(email_address)
print(result)

example.com

In [49]:
def replace_multiple_spaces(input_str):
    return ' '.join(input_str.split())

# Example usage:
input_str = "Hello   World,   this   is   a   test."
result = replace_multiple_spaces(input_str)
print(result)

Hello World, this is a test.

In [50]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url = "https://www.example.com"
result = is_valid_url(url)
print(result)

True

In [51]:
from urllib.parse import urlparse

def extract_protocol_from_url(url):
    result = urlparse(url)
    return result.scheme

# Example usage:
url = "https://www.example.com"
result = extract_protocol_from_url(url)
print(result)

https

In [52]:
from collections import Counter

def character_frequency(input_str):
    return Counter(input_str)

# Example usage:
input_str = "Hello World"
result = character_frequency(input_str)
print(result)

Counter({'l': 3, 'o': 2, 'H': 1, 'e': 1, ' ': 1, 'W': 1, 'r': 1, 'd': 1})

In [53]:
import string

def remove_punctuation(input_str):
    return ''.join(char for char in input_str if char not in string.punctuation)

# Example usage:
input_str = "Hello, World!"
result = remove_punctuation(input_str)
print(result)

Hello World

In [54]:
def contains_only_digits(input_str):
    return input_str.isdigit()

# Example usage:
input_str = "12345"
result = contains_only_digits(input_str)
print(result)

True

In [55]:
def contains_only_alphabets(input_str):
    return input_str.isalpha()

# Example usage:
input_str = "Hello"
result = contains_only_alphabets(input_str)
print(result)

True

In [56]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(result)

True

In [57]:
def caesar_cipher_encode(input_str, shift):
    result = ""
    for char in input_str:
        if char.isalpha():
            base = ord('a') if char.islower() else ord('A')
            result += chr((ord(char) - base + shift) % 26 + base)
        else:
            result += char
    return result

# Example usage:
input_str = "Hello World"
shift = 3
result = caesar_cipher_encode(input_str, shift)
print(result)

Khoor Zruog

In [58]:
def caesar_cipher_decode(input_str, shift):
    return caesar_cipher_encode(input_str, -shift)

# Example usage:
encoded_str = "Khoor Zruog"
shift = 3
result = caesar_cipher_decode(encoded_str, shift)
print(result)

Hello World

In [59]:
from collections import Counter

def most_frequent_word(input_str):
    words = input_str.split()
    word_counts = Counter(words)
    return word_counts.most_common(1)[0][0]

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
result = most_frequent_word(input_str)
print(result)

Hello

In [60]:
def unique_words(input_str):
    return set(input_str.split())

# Example usage:
input_str = "Hello World, World is beautiful. Hello Universe."
result = unique_words(input_str)
print(result)

{'Universe.', 'World,', 'Hello', 'is', 'beautiful.', 'World'}

In [61]:
def count_syllables(input_str):
    vowels = "aeiouAEIOU"
    count = 0
    for word in input_str.split():
        for char in word:
            if char in vowels:
                count += 1
    return count

# Example usage:
input_str = "Hello World"
result = count_syllables(input_str)
print(result)

3

In [62]:
def contains_special_characters(input_str):
    return any(char.isalnum() == False for char in input_str)

# Example usage:
input_str = "Hello@World"
result = contains_special_characters(input_str)
print(result)

True

In [63]:
def remove_nth_word(input_str, n):
    words = input_str.split()
    if 1 <= n <= len(words):
        del words[n - 1]
    return " ".join(words)

# Example usage:
input_str = "Hello World, this is a test."
n = 3
result = remove_nth_word(input_str, n)
print(result)

Hello World, is a test.

In [64]:
def insert_word_at_nth_position(input_str, n, new_word):
    words = input_str.split()
    if 1 <= n <= len(words) + 1:
        words.insert(n - 1, new_word)
    return " ".join(words)

# Example usage:
input_str = "Hello World, this is a test."
n = 3
new_word = "awesome"
result = insert_word_at_nth_position(input_str, n, new_word)
print(result)

Hello World, awesome this is a test.

In [65]:
import csv

def csv_string_to_list(csv_string):
    return list(csv.reader([csv_string]))[0]

# Example usage:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result = csv_string_to_list(csv_string)
print(result)

Error: new-line character seen in unquoted field - do you need to open the file in universal-newline mode?

In [66]:
import csv

def csv_string_to_list(csv_string):
    return list(csv.reader([csv_string]))[0]

# Example usage:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result = csv_string_to_list(csv_string)
print(result)

Error: new-line character seen in unquoted field - do you need to open the file in universal-newline mode?

In [67]:
##list based problem 1-50
integer_list = list(range(1, 11))
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [68]:
def find_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

# Example usage:
length = find_length(integer_list)
print(length)

10

In [69]:
integer_list.append(11)
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [70]:
index_to_insert = 5
element_to_insert = 99
integer_list.insert(index_to_insert, element_to_insert)
print(integer_list)

[1, 2, 3, 4, 5, 99, 6, 7, 8, 9, 10, 11]

In [71]:
element_to_remove = 99
integer_list.remove(element_to_remove)
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [72]:
index_to_remove = 2
del integer_list[index_to_remove]
print(integer_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [73]:
element_to_check = 8
exists = element_to_check in integer_list
print(exists)

True

In [74]:
element_to_count = 5
count = integer_list.count(element_to_count)
print(count)

1

In [75]:
element_to_count = 5
count = integer_list.count(element_to_count)
print(count)

1

In [76]:
integer_list.reverse()
print(integer_list)

[11, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [77]:
sorted_list_ascending = sorted(integer_list)
print(sorted_list_ascending)

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [78]:
sorted_list_descending = sorted(integer_list, reverse=True)
print(sorted_list_descending)

[11, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [79]:
even_numbers_list = list(range(2, 21, 2))
print(even_numbers_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [80]:
odd_numbers_list = list(range(1, 21, 2))
print(odd_numbers_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [81]:
max_value = max(integer_list)
print(max_value)

11

In [82]:
min_value = min(integer_list)
print(min_value)

1

In [83]:
import random

random_numbers_list = [random.randint(1, 100) for _ in range(10)]
print(random_numbers_list)

[100, 65, 29, 24, 1, 11, 89, 95, 20, 54]

In [84]:
duplicates_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(duplicates_list))
print(unique_list)

[1, 2, 3, 4, 5]

In [85]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print(common_elements)

[3, 4, 5]

In [86]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = list(set(list1) - set(list2))
print(difference)

[1, 2]

In [87]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)

[1, 2, 3, 4, 5, 6]

In [88]:
multiplied_list = [x * 2 for x in integer_list]
print(multiplied_list)

[22, 20, 18, 16, 14, 12, 10, 8, 4, 2]

In [89]:
filtered_list = [x for x in integer_list if x % 2 != 0]
print(filtered_list)

[11, 9, 7, 5, 1]

In [90]:
string_list = ["1", "2", "3"]
int_list = list(map(int, string_list))
print(int_list)

[1, 2, 3]

In [91]:
int_list = [1, 2, 3]
string_list = list(map(str, int_list))
print(string_list)

['1', '2', '3']

In [92]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened_list = [item for sublist in nested_list for item in sublist]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [93]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]
    while len(fibonacci_list) < n:
        next_value = fibonacci_list[-1] + fibonacci_list[-2]
        fibonacci_list.append(next_value)
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [94]:
def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

# Example usage:
sorted_list = [1, 2, 3, 4, 5]
unsorted_list = [3, 1, 4, 2, 5]
print(is_sorted(sorted_list))  # True
print(is_sorted(unsorted_list))  # False

True
False

In [95]:
def rotate_left(lst, n):
    n = n % len(lst)
    return lst[n:] + lst[:n]

# Example usage:
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_left(original_list, 2)
print(rotated_list)

[3, 4, 5, 1, 2]

In [96]:
def rotate_right(lst, n):
    n = n % len(lst)
    return lst[-n:] + lst[:-n]

# Example usage:
original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_right(original_list, 2)
print(rotated_list)

[4, 5, 1, 2, 3]

In [97]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [98]:
def split_into_chunks(lst, n):
    return [lst[i:i + n] for i in range(0, len(lst), n)]

# Example usage:
original_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunked_list = split_into_chunks(original_list, 3)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [99]:
def second_largest(lst):
    unique_numbers = list(set(lst))
    if len(unique_numbers) < 2:
        return None
    unique_numbers.sort()
    return unique_numbers[-2]

# Example usage:
numbers_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
result = second_largest(numbers_list)
print(result)

6

In [100]:
squared_list = [x**2 for x in original_list]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [101]:
list_to_dict = {value: index for index, value in enumerate(original_list)}
print(list_to_dict)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8}

In [102]:
import random

shuffled_list = random.sample(original_list, len(original_list))
print(shuffled_list)

[5, 7, 8, 2, 3, 6, 4, 1, 9]

In [103]:
import math

factorial_list = [math.factorial(i) for i in range(10)]
print(factorial_list)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [104]:
def have_common_element(list1, list2):
    return any(element in list1 for element in list2)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = have_common_element(list1, list2)
print(result)

True

In [105]:
original_list.clear()
print(original_list)

[]

In [106]:
negative_replaced_list = [max(0, x) for x in original_list]
print(negative_replaced_list)

[]

In [107]:
string_to_list = "Hello World, this is a string."
word_list = string_to_list.split()
print(word_list)

['Hello', 'World,', 'this', 'is', 'a', 'string.']

In [108]:
powers_of_two = [2**i for i in range(10)]
print(powers_of_two)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [109]:
strings_list = ["apple", "banana", "kiwi", "strawberry", "blueberry"]
longest_string = max(strings_list, key=len)
print(longest_string)

strawberry

In [110]:
shortest_string = min(strings_list, key=len)
print(shortest_string)

kiwi

In [111]:
triangular_numbers = [(i * (i + 1)) // 2 for i in range(10)]
print(triangular_numbers)

[0, 1, 3, 6, 10, 15, 21, 28, 36, 45]

In [114]:
def is_subsequence(subsequence, sequence):
    sub_len = len(subsequence)
    return any(subsequence == sequence[i:i + sub_len] for i in range(len(sequence) - sub_len + 1))

In [115]:
## tuple based problem 1-50
integer_tuple = tuple(range(1, 6))
print(integer_tuple)

(1, 2, 3, 4, 5)

In [116]:
third_element = integer_tuple[2]
print(third_element)

3

In [117]:
def find_length(tup):
    count = 0
    for _ in tup:
        count += 1
    return count

# Example usage:
length = find_length(integer_tuple)
print(length)

5

In [118]:
element_to_count = 3
count = integer_tuple.count(element_to_count)
print(count)

1

In [119]:
element_to_find = 4
index = integer_tuple.index(element_to_find)
print(index)

3

In [120]:
element_to_check = 2
exists = element_to_check in integer_tuple
print(exists)

True

In [121]:
tuple_to_list = list(integer_tuple)
print(tuple_to_list)

[1, 2, 3, 4, 5]

In [122]:
list_to_tuple = tuple(tuple_to_list)
print(list_to_tuple)

(1, 2, 3, 4, 5)

In [123]:
first, second, third, fourth, fifth = integer_tuple
print(first, second, third, fourth, fifth)

1 2 3 4 5

In [124]:
even_numbers_tuple = tuple(x for x in range(2, 11, 2))
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

In [125]:
odd_numbers_tuple = tuple(x for x in range(1, 11, 2))
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

In [126]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

In [127]:
repeated_tuple = integer_tuple * 3
print(repeated_tuple)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [128]:
nested_tuple = (1, (2, 3), 4)
print(nested_tuple)

(1, (2, 3), 4)

In [129]:
first_element_nested = nested_tuple[0]
print(first_element_nested)

1

In [130]:
single_element_tuple = (42,)
print(single_element_tuple)

(42,)

In [131]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_equal = tuple1 == tuple2
print(are_equal)

True

In [132]:
del_tuple = (1, 2, 3)
del del_tuple
# After deletion, attempting to print or access del_tuple will result in an error.

In [133]:
sliced_tuple = integer_tuple[1:4]
print(sliced_tuple)

(2, 3, 4)

In [134]:
max_value = max(integer_tuple)
print(max_value)

5

In [135]:
min_value = min(integer_tuple)
print(min_value)

1

In [136]:
string_to_tuple = tuple("Hello")
print(string_to_tuple)

('H', 'e', 'l', 'l', 'o')

In [137]:
tuple_to_string = ''.join(string_to_tuple)
print(tuple_to_string)

Hello

In [138]:
mixed_tuple = (1, 'hello', 3.14, True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [139]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
are_identical = tuple1 == tuple2
print(are_identical)

True

In [140]:
unsorted_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
sorted_tuple = tuple(sorted(unsorted_tuple))
print(sorted_tuple)

(1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9)

In [141]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(map(str, int_tuple))
print(str_tuple)

('1', '2', '3', '4', '5')

In [142]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, str_tuple))
print(int_tuple)

(1, 2, 3, 4, 5)

In [143]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

In [144]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
flattened_tuple =

SyntaxError: invalid syntax (3530494468.py, line 2)

In [146]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
flattened_tuple = tuple(item for sublist in nested_tuple for item in sublist)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [147]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_tuple = tuple(num for num in range(2, 20) if is_prime(num)[:5])
print(prime_numbers_tuple)

TypeError: 'bool' object is not subscriptable

In [148]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
result = is_palindrome(palindrome_tuple)
print(result)

True

In [149]:
squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [150]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)
print(filtered_tuple)

(1, 3, 5, 7, 9)

In [151]:
multiplied_tuple = tuple(x * 2 for x in original_tuple)
print(multiplied_tuple)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [152]:
import random

random_numbers_tuple = tuple(random.randint(1, 100) for _ in range(5))
print(random_numbers_tuple)

(12, 60, 80, 35, 27)

In [153]:
def is_sorted_tuple(tup):
    return all(tup[i] <= tup[i + 1] for i in range(len(tup) - 1))

# Example usage:
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (3, 1, 4, 2, 5)
print(is_sorted_tuple(sorted_tuple))  # True
print(is_sorted_tuple(unsorted_tuple))  # False

True
False

In [154]:
def rotate_left_tuple(tup, n):
    n = n % len(tup)
    return tup[n:] + tup[:n]

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple_left = rotate_left_tuple(original_tuple, 2)
print(rotated_tuple_left)

(3, 4, 5, 1, 2)

In [155]:
def rotate_right_tuple(tup, n):
    n = n % len(tup)
    return tup[-n:] + tup[:-n]

# Example usage:
original_tuple = (1, 2, 3, 4, 5)
rotated_tuple_right = rotate_right_tuple(original_tuple, 2)
print(rotated_tuple_right)

(4, 5, 1, 2, 3)

In [161]:
fibonacci_tuple = (0, 1, 1, 2, 3)
print("Fibonacci Tuple:", fibonacci_tuple)

Fibonacci Tuple: (0, 1, 1, 2, 3)

In [163]:
user_input_tuple = tuple(map(int, input("Enter elements separated by spaces: ").split()))
print("User Input Tuple:", user_input_tuple)

Enter elements separated by spaces:  9 6 4 78

User Input Tuple: (9, 6, 4, 78)

In [164]:
def swap_elements(tup, i, j):
    tup_list = list(tup)
    tup_list[i], tup_list[j] = tup_list[j], tup_list[i]
    return tuple(tup_list)

original_tuple = (1, 2, 3, 4, 5)
swapped_tuple = swap_elements(original_tuple, 1, 3)
print("Swapped Tuple:", swapped_tuple)

Swapped Tuple: (1, 4, 3, 2, 5)

In [165]:
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = tuple(reversed(original_tuple))
print("Reversed Tuple:", reversed_tuple)

Reversed Tuple: (5, 4, 3, 2, 1)

In [166]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Powers of 2 Tuple:", powers_of_2_tuple)

Powers of 2 Tuple: (1, 2, 4, 8, 16)

In [167]:
string_tuple = ('apple', 'banana', 'kiwi', 'orange')
longest_string = max(string_tuple, key=len)
print("Longest String:", longest_string)

Longest String: banana

In [168]:
string_tuple = ('apple', 'banana', 'kiwi', 'orange')
shortest_string = min(string_tuple, key=len)
print("Shortest String:", shortest_string)

Shortest String: kiwi

In [169]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(n))
print("Triangular Numbers Tuple:", triangular_numbers_tuple)

Triangular Numbers Tuple: (0, 1, 3, 6, 10)

In [170]:
tuple_a = (1, 2, 3, 4, 5)
tuple_b = (3, 4)
is_subsequence = all(x in tuple_a for x in tuple_b)
print("Is Subsequence:", is_subsequence)

Is Subsequence: True

In [171]:
n = 8
alternating_tuple = tuple(i % 2 for i in range(n))
print("Alternating Tuple:", alternating_tuple)

Alternating Tuple: (0, 1, 0, 1, 0, 1, 0, 1)

In [176]:
## set question 1-50
set_one_to_five = {1, 2, 3, 4, 5}
print("Set with integers from 1 to 5:", set_one_to_five)

Set with integers from 1 to 5: {1, 2, 3, 4, 5}

In [177]:
set_one_to_five.add(6)
print("Set after adding an element:", set_one_to_five)

Set after adding an element: {1, 2, 3, 4, 5, 6}

In [180]:
# 3. Remove an element from a set.
set_one_to_five.remove(3)
print("Set after removing an element:", set_one_to_five)

Set after removing an element: {1, 2, 4, 5, 6}

In [ ]:
# 1. Create a set with integers from 1 to 5.
set_one_to_five = {1, 2, 3, 4, 5}
print("Set with integers from 1 to 5:", set_one_to_five)

# 2. Add an element to a set.
set_one_to_five.add(6)
print("Set after adding an element:", set_one_to_five)

# 3. Remove an element from a set.
set_one_to_five.remove(3)
print("Set after removing an element:", set_one_to_five)

# 4. Check if an element exists in a set.
element_exists = 4 in set_one_to_five
print("Does 4 exist in the set?", element_exists)

# 5. Find the length of a set without using the `len()` function.
set_length = sum(1 for _ in set_one_to_five)
print("Length of the set:", set_length)

# 6. Clear all elements from a set.
set_one_to_five.clear()
print("Set after clearing all elements:", set_one_to_five)

# 7. Create a set of even numbers from 1 to 10.
even_numbers_set = set(range(2, 11, 2))
print("Set of even numbers:", even_numbers_set)

# 8. Create a set of odd numbers from 1 to 10.
odd_numbers_set = set(range(1, 11, 2))
print("Set of odd numbers:", odd_numbers_set)

# 9. Find the union of two sets.
union_set = even_numbers_set.union(odd_numbers_set)
print("Union of two sets:", union_set)

# 10. Find the intersection of two sets.
intersection_set = even_numbers_set.intersection(odd_numbers_set)
print("Intersection of two sets:", intersection_set)

# 11. Find the difference between two sets.
difference_set = even_numbers_set.difference(odd_numbers_set)
print("Difference between two sets:", difference_set)

# 12. Check if a set is a subset of another set.
is_subset = even_numbers_set.issubset(union_set)
print("Is the set of even numbers a subset of the union set?", is_subset)

# 13. Check if a set is a superset of another set.
is_superset = union_set.issuperset(even_numbers_set)
print("Is the union set a superset of the set of even numbers?", is_superset)

# 14. Create a set from a list.
list_to_set = set([1, 2, 3, 4, 5])
print("Set from a list:", list_to_set)

# 15. Convert a set to a list.
set_to_list = list(set_one_to_five)
print("List from a set:", set_to_list)

# 16. Remove a random element from a set.
import random
random_element = set_one_to_five.pop()
print("Set after removing a random element:", set_one_to_five)

# 17. Pop an element from a set.
popped_element = even_numbers_set.pop()
print("Set after popping an element:", even_numbers_set)

# 18. Check if two sets have no elements in common.
no_common_elements = even_numbers_set.isdisjoint(odd_numbers_set)
print("Do the sets have no elements in common?", no_common_elements)

# 19. Find the symmetric difference between two sets.
symmetric_difference_set = even_numbers_set.symmetric_difference(odd_numbers_set)
print("Symmetric difference between two sets:", symmetric_difference_set)

# 20. Update a set with elements from another set.
even_numbers_set.update(odd_numbers_set)
print("Updated set with elements from another set:", even_numbers_set)

# 21. Create a set of the first 5 prime numbers.
prime_numbers_set = {2, 3, 5, 7, 11}
print("Set of the first 5 prime numbers:", prime_numbers_set)

# 22. Check if two sets are identical.
are_identical = even_numbers_set == odd_numbers_set
print("Are the two sets identical?", are_identical)

# 23. Create a frozen set.
frozen_set = frozenset([1, 2, 3, 4, 5])
print("Frozen set:", frozen_set)

# 24. Check if a set is disjoint with another set.
is_disjoint = even_numbers_set.isdisjoint(prime_numbers_set)
print("Is the set of even numbers disjoint with the set of prime numbers?", is_disjoint)

# 25. Create a set of squares of numbers from 1 to 5.
squares_set = {x**2 for x in range(1, 6)}
print("Set of squares of numbers from 1 to 5:", squares_set)

# 26. Filter out all even numbers from a set.
filtered_set = {x for x in squares_set if x % 2 != 0}
print("Set after filtering out even numbers:", filtered_set)

# 27. Multiply all elements in a set by 2.
multiplied_set = {x * 2 for x in filtered_set}
print("Set after multiplying all elements by 2:", multiplied_set)

# 28. Create a set of random numbers.
import random
random_set = {random.randint(1, 10) for _ in range(5)}
print("Set of random numbers:", random_set)

# 29. Check if a set is empty.
is_empty = not bool(set_one_to_five)
print("Is the set empty?", is_empty)

# 30. Create a nested set (hint: use frozenset).
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print("Nested set:", nested_set)

# 31. Remove an element from a set using the discard method.
set_one_to_five.discard(4)
print("Set after removing an element using discard:", set_one_to_five)

# 32. Compare two sets.
are_equal = set_one_to_five == list_to_set
print("Are the two sets equal?", are_equal)

# 33. Create a set from a string.
string_set = set("hello")
print("Set from a string:", string_set)

# 34. Convert a set of strings to a set of integers.
set_of_strings = {'1', '2', '3', '4', '5'}
set_of_integers = {int(x) for x in set_of_strings}
print("Set of integers from a set of strings:", set_of_integers)

# 35. Convert a set of integers to a set of strings.
set_of_strings = {str(x) for x in set_of_integers}
print("Set of strings from a set of integers:", set_of_strings)

# 36. Create a set from a tuple.
tuple_set = set((1, 2, 3, 4, 5))
print("Set from a tuple:", tuple_set)

# 37. Convert a set to a tuple.
set_to_tuple = tuple(set_one_to_five)
print("Tuple from a set:", set_to_tuple)

# 38. Find the maximum value in a set.
max_value = max(set_of_integers)
print("Maximum value in the set:", max_value